@keyframes glowGreenafter {
  0% {
    background-color: rgba(0, 174, 113, 0.9);
    box-shadow: 0 0 5px rgba(0, 174, 113, 0.5);
  }
  50% {
    background-color: rgba(129, 20, 2, 0.7);
    box-shadow: 0 0 30px rgba(206, 20, 2, 0.7);
	color: rgba(0,0,0, 0.7);
  }
  100% {
    background-color: rgba(0, 174, 113, 0.9);
    box-shadow: 0 0 5px rgba(0, 174, 113, 0.5);
  }
}

@keyframes glowGreen {
  0% {
    background-color: rgba(0, 174, 113, 0.1);
    box-shadow: 0 0 5px rgba(0, 174, 113, 0.5);
  }
  50% {
    background-color: rgba(206, 20, 2, 0.7);
    box-shadow: 0 0 30px rgba(206, 20, 2, 0.7);
	color: rgba(0,0,0, 0.7);
  }
  100% {
    background-color: rgba(0, 174, 113, 0.1);
    box-shadow: 0 0 5px rgba(0, 174, 113, 0.5);
  }
}

@keyframes glowlaba {
  0% {
    background-color: rgba(132, 80, 222, 0.1);
    box-shadow: 0 0 5px rgba(132, 80, 222, 0.5);
  }
  50% {
    background-color: rgba(132, 80, 222, 0.3);
    box-shadow: 0 0 34px rgba(132, 80, 222, 0.8);
  }
  100% {
    background-color: rgba(132, 80, 222, 0.1);
    box-shadow: 0 0 5px rgba(132, 80, 222, 0.5);
  }
}

@keyframes glowpracticals {
  0% {
    background-color: rgba(73, 112, 255, 0.1);
    box-shadow: 0 0 5px rgba(73, 112, 255, 0.5);
  }
  50% {
    background-color: rgba(73, 112, 255, 0.2);
    box-shadow: 0 0 34px rgba(73, 112, 255, 0.9);
  }
  100% {
    background-color: rgba(73, 112, 255, 0.1);
    box-shadow: 0 0 5px rgba(73, 112, 255, 0.5);
  }
}

.green-block.current-interval::after {
  animation: glowGreenafter 3s infinite; /* Применяем анимацию к псевдоэлементу */
}

/* Классы для блоков */
.green-block.current-interval {
  animation: glowGreen 3s infinite;
}

.laba.current-interval {
  animation: glowlaba 2s infinite;
}

.practicals.current-interval {
  animation: glowpracticals 2s infinite;
}

.green-block .text-top {
	
  /* Стили для текста сверху */
  margin-bottom: auto; /* Перемещает текст в верхнюю часть блока */
  font-size: 0.8vw;
}
.green-block .text-bottom {
	padding-bottom:10%;
  /* Стили для времени внизу */
  margin-top: auto; /* Перемещает текст в нижнюю часть блока */
  font-size: 0.8vw;
	
}

.laba .text-top {
	padding-top:3%;
  /* Стили для текста сверху */
  margin-bottom: auto; /* Перемещает текст в верхнюю часть блока */
  font-size: 0.8vw;
}
.laba .text-bottom {
	padding-bottom:10%;
  /* Стили для времени внизу */
  margin-top: auto; /* Перемещает текст в нижнюю часть блока */
  font-size: 0.8vw;
}


.practicals .text-bottom {
	padding-bottom:10%;
  /* Стили для времени внизу */
  margin-top: auto; /* Перемещает текст в нижнюю часть блока */
  font-size: 0.8vw;
	
}
.practicals .text-top {
	padding-top:3%;
  /* Стили для текста сверху */
  margin-bottom: auto; /* Перемещает текст в верхнюю часть блока */
      font-size: 0.8vw;
}



.green-block {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 174, 113, 0.1); /* Зеленый цвет с 50% прозрачностью */
  color: white;
  border-radius: 0px 30% 30% 0;
  padding: 5px;
  text-align: center;
  width: 95%;
  height: 90%; /* Измените на auto для автоматической подгонки под содержимое */
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', sans-serif;
  font-weight: bold;
  color: #00AE71;
  
  /* Убедитесь, что блок не выходит за пределы ячейки */
  max-width: 100%; 
  max-height: 110%;
  overflow: hidden; /* Скрываем содержимое, если оно превышает размеры блока */
}
.laba {
  display: flex;
  flex-direction: column;
  background-color: rgba(132, 80, 222, 0.1); /* Зеленый цвет с 50% прозрачностью */
  color: white;
  border-radius: 0px 30% 30% 0;
  padding: 5px;
  text-align: center;
  width: 95%;
  height: 90%; /* Измените на auto для автоматической подгонки под содержимое */
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', sans-serif;
  color:#8450DE;
  font-weight: bold;
  max-width: 100%; 
  max-height: 110%;
  overflow: hidden; /* Скрываем содержимое, если оно превышает размеры блока */
}

.practicals {
  display: flex;
  flex-direction: column;
  background-color: rgba(73, 112, 255, 0.1); /* Зеленый цвет с 50% прозрачностью */
  color: white;
  border-radius: 0px 30% 30% 0;
  padding: 5px;
  text-align: center;
  width: 95%;
  height: 90%; /* Измените на auto для автоматической подгонки под содержимое */
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', sans-serif;
  color:#4970ff;
  font-weight: bold;
  max-width: 100%; 
  max-height: 110%;
  overflow: hidden; /* Скрываем содержимое, если оно превышает размеры блока */
}

.laba::after {
  content: ''; 
  position: absolute;
  margin-top:6%;
  top: 0; /* Расположите палочку справа от блока */
  left: 0px; /* Расположите палочку справа от блока */
  width: 2%; /* Ширина палочки */
  height:89%; /* Высота палочки */
  background-color: rgba(132, 80, 222, 1); /* Цвет палочки тот же, что и у блока */
  max-width: 50%; 
  max-height: 100%;
  overflow: hidden;
}
.green-block::after {
  content: ''; 
  position: absolute;
  top: 0; /* Расположите палочку справа от блока */
  left: 0px; /* Расположите палочку справа от блока */
  width: 2%; /* Ширина палочки */
  height:88%; /* Высота палочки */
  background-color: rgba(0, 174, 113, 1);
  margin-top:6%;
  max-width: 199%; 
  max-height: 100%;
  overflow: hidden;
  animation: var(animation) 3s infinite;
}

.practicals ::after {
  content: ''; 
  position: absolute;
  margin-top:6%;
  top: 0; /* Расположите палочку справа от блока */
  left: 0px; /* Расположите палочку справа от блока */
  width: 2%; /* Ширина палочки */
  height:89%; /* Высота палочки */
  background-color: rgba(73, 112, 255, 1); /* Цвет палочки тот же, что и у блока */
  max-width: 50%; 
  max-height: 100%;
  overflow: hidden;
}

.hidden-row {
  display: none;
}

.visible-row {
  display: table-row;
}

/* Стиль для контейнера календаря */
.calendar-container {
  display: flex;
  padding: 20px;
  background-color: #F5F6FA;
  border-radius: 0 0 30px 30px;
  gap: 20px;
}

/* Внутренний контейнер для вертикального расположения sidebar и activity-filter */
.sidebar-activity-container {
  display: flex;
  flex-direction: column; /* Вертикальное расположение блоков */
  gap: 20px; /* Расстояние между блоками */
  width: 200%; /* Ширина контейнера для sidebar и activity-filter */
}

.sidebar { /* Календарь */
  padding: 10px;
  background-color: #fff;
  border-radius: 20px;
  margin: 10px;
  font-family: 'Franklin Gothic Medium', sans-serif;
  height: auto;
  width: 10;
}

/* Activity Filter */
.activity-filter {
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 20px;
  height: auto;
}

.activity-list label {
  flex-grow: 1; 
  text-align: left;
  font-weight: bold;
  font-size: 1.7vh;
  font-family: 'Franklin Gothic Medium', sans-serif;
}

.activity-list {
  list-style: none;
  padding: 0;
  margin: 0;
  
}

/* Заголовок типов */
.activity-filter h2 { 
  font-size: 2vh;
  margin-top: 5px;
  padding-bottom: 10px;
  margin-left: -40%;
  text-transform: capitalize;
  text-align: center;
  margin-right: auto;
  font-family: 'Franklin Gothic Medium', sans-serif;
}

.activity-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}

.activity-list input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  margin-right: 10px;
}

/* Стиль для checkbox с id lectures */
#lectures {
  background-color: #FFFFFF;
  border: 2px solid #00AE71;
 font-size: 1.7vh;
}

#lectures:checked {
  background-color: #00AE71; /* Цвет фона при активации */
  border-color: #00AE71;
  font-size: 1.7vh;
}

#lectures:checked::before {
  content: '\2714'; /* Символ галочки */
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.7vh;
}

/* Стиль для checkbox с id practicals */
#practicals {
  background-color: #FFFFFF;
  border: 2px solid #4970FF;
  font-size: 1.7vh;
}

#practicals:checked {
  background-color: #4970FF; /* Цвет фона при активации */
  border-color: #4970FF;
}

#practicals:checked::before {
  content: '\2714'; /* Символ галочки */
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.7vh;
}

/* Стиль для checkbox с id labs */
#laba {
  background-color: #FFFFFF;
  border: 2px solid #8450DE;
}

#laba:checked {
  background-color: #8450DE; /* Цвет фона при активации */
  border-color: #8450DE;
  font-size: 1.7vh;
}

#laba:checked::before {
  content: '\2714'; /* Символ галочки */
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.7vh;
}
.week-navigation h3 { 
  padding: 1%;
  font-size: 3vh;
  margin: 0;
  text-transform: capitalize;
  text-align: center;
  font-family: 'Franklin Gothic Medium', sans-serif;
}
/*Заголовок календаря*/
.month-navigation h3 { 
  font-size: 1.9vh;
  margin: 0;
  text-transform: capitalize;
  text-align: center;
  font-family: 'Franklin Gothic Medium', sans-serif;
}

/*Навигация по месяцу*/
.month-navigation {
  display: flex;
  align-items: center;
  justify-content: flex-right; /* Кнопки справа */
  padding: 0 10px;
  gap: 10px;
}

/*Кнопка месяца*/
.month-navigation button {
  font-size: 1vw;
  margin-left: 30%; /* Сдвигаем кнопку вправо на 10 пикселей */ /* Сдвигаем кнопку вправо на 10 пикселей */
  background: none;
  border: 1px transparent; /* Изначально прозрачная граница */
  width: 30px;
  height: 30px;
  border-radius: 5px; /* Радиус для скругления углов */
}

.month-navigation button + button {
  margin-left: 1px; /* Уменьшите расстояние между кнопками */
}

.month-navigation button:hover {
  background-color: #dcdcdc; /* Цвет фона при наведении */
  border-color: #aaa; /* Цвет границы при наведении */
  width: 30px; /* Установите ширину обратно на 30px */
}


/* Стили для изображений стрелок навигации*/
.month-navigation img {
  width: 20px;
  height: auto;
  color: #5AAC74;
}

/*Навигация по неделям*/
.week-navigation {
  background-color: #F8F9FF;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Выравниваем содержимое по левому краю */
  padding: 0 px;
  border-radius: 10px 10px 0 0;
}

/*Заголов Недели*/
.week-navigation h2 {
  margin: 10px 0; /* Уменьшите отступы сверху и снизу, чтобы расстояние до кнопок было меньше */
  font-size: 1.5vw;
  text-transform: capitalize;
  text-align: left;
  font-family: 'Franklin Gothic Medium', sans-serif;
  
}


/*Кнопка недели*/
.week-navigation button {
  border-radius: 5px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 0.8vw;
  margin-bottom: -5px; /* Добавьте отступ снизу, чтобы кнопки находились ближе к заголовку */
}

.week-navigation button:hover {
  background-color: #dcdcdc; /* Цвет фона при наведении */
  border-color: #aaa; /* Цвет границы при наведении */
  width: 30px; /* Установите ширину обратно на 30px */
}

/* Изображения стрелок */
.week-navigation img {
  width: 20px; /* Ширина стрелок */
  height: auto;
  color: #5AAC74;
}

/* Стиль для выделенного дня */
.selected-day {
  position: relative;
  background-color: rgba(0, 0, 255, 0.3);
  border-radius: 50%;
}

.selected-day::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 70%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 123, 255, 0.4);
  z-index: 1;
}

.date-cell {
  position: relative; /* Добавляем относительное позиционирование для ячейки */
  height: 20vh; 
  width: 10vh;/* Задаем высоту ячейки для видимости блока */
}

/*Цвет ячеек чисел в календаре*/

/* Визуальный отступ заголовка от чисел */
.month-calendar {
  margin-top: 20px;
  width: 100%; /* Явно задаем ширину для календаря */
  height: auto; /* Автоматическая высота */
}

/* Ячейки заголовков и дней месяца */
.month-calendar th, 
.month-calendar td {
  height: 6vh; /* Устанавливаем одинаковую высоту для ячеек */
  width: auto; /* Ширина определяется автоматически */
  font-size: 1vw;
  padding: 0; /* Минимальный padding */
  text-align: center; /* Центрируем текст */
  border: none;
  box-sizing: border-box; /* Учитываем padding при расчете ширины */
}

/* Настройка для строк */
.month-calendar tr {
  height: auto; /* Высота строки адаптируется к содержимому */
  width: 100%; /* Ширина строки 100% */
  border: none;
}	

/* Ячейка дня месяца */
.month-calendar .date-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Относительное позиционирование */
  height: 6vh; /* Фиксированная высота для ячеек */
  width: 6vh; /* Фиксированная ширина для ячеек */
  background-color: #fff; /* Фон ячеек */
  border-radius: 10px; /* Закругленные углы */
  box-sizing: border-box; /* Учитываем padding и border */
}


/* Общее оформление для ячеек с числами */
.month-calendar .cell {
  height: 5vh; /* Фиксированная высота */
  width: 6vh; /* Фиксированная ширина */
  background-color: #fff;
  border-radius: 10px;
  font-size: 1.8vh;
  text-align: center;
  padding: 0; /* Минимальный padding */
  box-sizing: border-box;
}

.cell {
  width: 1000%; /* Фиксируем ширину */
  height: 100%; /* Фиксируем высоту */
  font-family: 'Franklin Gothic Medium', sans-serif;
  font-weight: bold;
}


/* НАСТРОЙКА НЕДЕЛИ(сетки и тд)*/
.weekly-calendar {
  flex-grow: 1; /* Заполняет оставшееся пространство */
  padding: 10;
  background-color: #fff;
  border-radius: 20px;
}

.week-table {
	background-color: #Ffffff; /* Фон заголовков */
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse; /* Убирает двойные границы между ячейками */
}

.week-table th,
.week-table td {
  padding: 2px;
  border: 1px solid #E5E8F2; /* Граница между ячейками */
}

.week-table th { /*Дни недели*/
  padding: 10px;
  background-color: #F8F9FF; /* Фон заголовков */
  border: 1px solid #F8F9FF; /* Граница между ячейками */
}

.time-cell {
  padding: px;
  width: 20%; /* Фиксированная ширина для выравнивания */
  height: auto;
  text-align: center; /* Выравнивание текста по правому краю */
  color: #4E7CA3;
  font-size: 1.9vh;
  font-family: 'Franklin Gothic Medium', sans-serif;
  font-weight: bold; 
}

.week-table tr:first-child {
  border-left: none; /* Граница слева для первого столбца */
  border-top: none;
}

.week-table td { /*Сетка*/
  border-left: none; /* Убираем правую границу для последнего столбца */
  border-bottom: none;
}

.week-table td:last-child { /*Сетка*/
  margin-top: 34%;
  border-right: none; /* Убираем правую границу для последнего столбца */
  border-left: none; /* Убираем правую границу для последнего столбца */
  border-bottom: none;
}
.month-calendar .week-table-cell{
  position: relative;
  height: 10%;
  width: 10%;
  font-size: 1.7vh;
  padding: 10px;
  color: #7B9BB9;
  background-color: #fff;
  font-family: 'Franklin Gothic Medium', sans-serif;
}

.week-table-cell {
  position: relative;
  height: 3vh;
  font-size: 1.7vh;
  padding: 10px;
  color: #7B9BB9;
  background-color: #fff;
  font-family: 'Franklin Gothic Medium', sans-serif;
}

@media (max-width: 768px) {
  .calendar-container {
	 width: 100%;
    flex-direction: column; /* Вертикальное расположение для мобильных устройств */
    padding: 10px; /* Уменьшаем отступы */
  }

  .sidebar-activity-container {
    width: 100%; /* Задаем 100% ширины для мобильных */
    gap: 10px; /* Уменьшаем расстояние между блоками */
  }
.weekly-calendar {
    width: 200%; /* Задаем 100% ширины для мобильных */
 /* Уменьшаем расстояние между блоками */
  }
  
  .sidebar, .activity-filter {
    width: 100%; /* Задаем 100% ширины для мобильных */
    margin: 5px 0; /* Уменьшаем отступы */
  }
.time-cell {
	font-size: 1vh;
}
  .date-cell {
    height: auto; /* Даем автоматическую высоту для ячеек */
    width: 100%; /* Задаем 100% ширины для ячеек */
  }

  .month-navigation h3, .week-navigation h3, .week-navigation h2 {
    font-size: 4vh; /* Увеличиваем размер шрифта для лучшей читаемости */
  }

  .month-navigation button, .week-navigation button {
    font-size: 2vh; /* Увеличиваем размер шрифта для кнопок */
    width: 40px; /* Ширина кнопок */
    height: 40px; /* Высота кнопок */
  }
  
  /* Уменьшаем размер текста в блоках */
  .green-block .text-top, .green-block .text-bottom,
  .laba .text-top, .laba .text-bottom,
  .practicals .text-top, .practicals .text-bottom {
    font-size: 2.5vw; /* Размер шрифта в vw для адаптивности */
  }
}