
 
.green-block .text-top {
  /* Стили для текста сверху */
  margin-bottom: auto; /* Перемещает текст в верхнюю часть блока */
  font-size: 0.8vw;
}
.green-block .text-bottom {
  /* Стили для времени внизу */
  margin-top: auto; /* Перемещает текст в нижнюю часть блока */
  font-size: 0.8vw;
	
}
.laba .text-top {
  /* Стили для текста сверху */
  margin-bottom: auto; /* Перемещает текст в верхнюю часть блока */
  font-size: 0.8vw;
}
.laba .text-bottom {
  /* Стили для времени внизу */
  margin-top: auto; /* Перемещает текст в нижнюю часть блока */
  font-size: 0.8vw;
}
.green-block1 .text-top {
  /* Стили для текста сверху */
  margin-bottom: auto; /* Перемещает текст в верхнюю часть блока */
  font-size: 0.8vw;
}
.green-block1 .text-bottom {
  /* Стили для времени внизу */
  margin-top: auto;/* Перемещает текст в нижнюю часть блока */
  font-size: 0.8vw;
	
}
.green-block2 .text-top {
  /* Стили для текста сверху */
  margin-bottom: auto; /* Перемещает текст в верхнюю часть блока */
    font-size: 0.8vw;
}
.green-block2 .text-bottom {
  /* Стили для времени внизу */
  margin-top: auto; /* Перемещает текст в нижнюю часть блока */
  font-size: 0.8vw;
}
.green-block3 .text-top {
  /* Стили для текста сверху */
  margin-bottom: auto; /* Перемещает текст в верхнюю часть блока */
    font-size: 0.8vw;
}
.green-block3 .text-bottom {
  /* Стили для времени внизу */
  margin-top: auto; /* Перемещает текст в нижнюю часть блока */
  font-size: 0.8vw;
}


.practicals .text-bottom {
  /* Стили для времени внизу */
  margin-top: auto; /* Перемещает текст в нижнюю часть блока */
  font-size: 0.8vw;
	
}
.practicals .text-top {
  /* Стили для текста сверху */
  margin-bottom: auto; /* Перемещает текст в верхнюю часть блока */
      font-size: 0.8vw;
}
 .practicals4 .text-top {
  /* Стили для времени внизу */
  margin-top: auto%; /* Перемещает текст в нижнюю часть блока */
    font-size: 0.8vw;
}
.practicals4 .text-bottom {
  /* Стили для времени внизу */
  margin-top: auto; /* Перемещает текст в нижнюю часть блока */
    font-size: 0.8vw;
}
.practicals5 .text-bottom {
  /* Стили для времени внизу */
  margin-top: auto; /* Перемещает текст в нижнюю часть блока */
    font-size: 0.8vw;
}
.practicals5 .text-top {
  /* Стили для текста сверху */
  margin-bottom: auto; /* Перемещает текст в верхнюю часть блока */
  font-size: 0.8vw;
}

.green-block {
  display: flex;
  flex-direction: column;
  margin-top: 29%;
  background-color: rgba(0, 174, 113, 0.1); /* Зеленый цвет с 50% прозрачностью */
  color: white;
  border-radius: 0px 30px 30px 0;
  padding: 5px;
  text-align: center;
  position: absolute;
  width: 95%;
  height: 150%; /* Это значение можно уменьшить, если блок выходит за пределы ячейки */
  left: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', sans-serif;
  color:#00AE71;
  font-weight: bold;
}
.laba {
  display: flex;
  flex-direction: column;
  margin-top: 29%;
  background-color: rgba(132, 80, 222, 0.1); /* Зеленый цвет с 50% прозрачностью */
  color: white;
  border-radius: 0px 30px 30px 0;
  padding: 5px;
  text-align: center;
  position: absolute;
  width: 95%;
  height: 151%; /* Это значение можно уменьшить, если блок выходит за пределы ячейки */
  left: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', sans-serif;
  color:#8450DE;
  font-weight: bold;
}
.green-block1 {
	display: flex;
  flex-direction: column;
  margin-top: 15%;
  background-color: rgba(0, 174, 113, 0.1); /* Зеленый цвет с 50% прозрачностью */
  color: white;
  border-radius: 0px 30px 30px 0;
  padding: 5px;
  text-align: center;
  position: absolute;
  width: 95%;
  height: 151%; /* Это значение можно уменьшить, если блок выходит за пределы ячейки */
  left: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', sans-serif;
  color:#00AE71;
  font-weight: bold;
}
.green-block2{ 
display: flex;
  flex-direction: column;
background-color: rgba(0, 174, 113, 0.1); /* Зеленый цвет с 50% прозрачностью */
  color: white;
  border-radius: 0px 30px 30px 0;
  padding: 5px;
  text-align: center;
  position: absolute;
  width: 95%;
  height: 151%; /* Это значение можно уменьшить, если блок выходит за пределы ячейки */
  left: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', sans-serif;
  color:#00AE71;
  font-weight: bold;
}
.green-block3{  
display: flex;
  flex-direction: column;
margin-top: 15%;
background-color: rgba(0, 174, 113, 0.1); /* Зеленый цвет с 50% прозрачностью */
  color: white;
  border-radius: 0px 30px 30px 0;
  padding: 5px;
  text-align: center;
  position: absolute;
  width: 95%;
  height: 151%; /* Это значение можно уменьшить, если блок выходит за пределы ячейки */
  left: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', sans-serif;
  color:#00AE71;
  font-weight: bold;
}
.practicals {
	display: flex;
  flex-direction: column;
  margin-top: 29%;
  background-color: rgba(73, 112, 255, 0.1); /* Зеленый цвет с 50% прозрачностью */
  color: white;
  border-radius: 0px 30px 30px 0;
  padding: 5px;
  text-align: center;
  position: absolute;
  width: 95%;
  height: 150%; /* Это значение можно уменьшить, если блок выходит за пределы ячейки */
  left: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', sans-serif;
  color:#4970ff;
  font-weight: bold;
}
.practicals4 {
	display: flex;
  flex-direction: column;
  margin-top: 15%;
  background-color: rgba(73, 112, 255, 0.1); /* Зеленый цвет с 50% прозрачностью */
  color: white;
  border-radius: 0px 30px 30px 0;
  padding: 5px;
  text-align: center;
  position: absolute;
  width: 95%;
  height: 150%; /* Это значение можно уменьшить, если блок выходит за пределы ячейки */
  left: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', sans-serif;
  color:#4970ff;
  font-weight: bold;
}
.practicals5 {
	display: flex;
  flex-direction: column;
  margin-top: 58%;
  background-color: rgba(73, 112, 255, 0.1); /* Зеленый цвет с 50% прозрачностью */
  color: white;
  border-radius: 0px 30px 30px 0;
  padding: 5px;
  text-align: center;
  position: absolute;
  width: 95%;
  height: 150%; /* Это значение можно уменьшить, если блок выходит за пределы ячейки */
  left: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', sans-serif;
  color:#4970ff;
  font-weight: bold;
}

.green-block1::after {
  content: ''; /* Пустое содержимое для псевдоэлемента */
  position: absolute;
  top: 0px; /* Расположите палочку справа от блока */
  left: 0px; /* Расположите палочку справа от блока */
  width: 3%; /* Ширина палочки */
  height: 100%; /* Высота палочки */
  background-color: rgba(0, 174, 113, 1); /* Цвет палочки тот же, что и у блока */
}
.laba::after {
  content: ''; /* Пустое содержимое для псевдоэлемента */
  position: absolute;
  top: 0px; /* Расположите палочку справа от блока */
  left: 0px; /* Расположите палочку справа от блока */
  width: 3%; /* Ширина палочки */
  height: 100%; /* Высота палочки */
  background-color: rgba(132, 80, 222, 1); /* Цвет палочки тот же, что и у блока */
}
.green-block::after {
  content: ''; /* Пустое содержимое для псевдоэлемента */
  position: absolute;
  top: 0px; /* Расположите палочку справа от блока */
  left: 0px; /* Расположите палочку справа от блока */
  width: 3%; /* Ширина палочки */
  height: 100%; /* Высота палочки */
  background-color: rgba(0, 174, 113, 1); /* Цвет палочки тот же, что и у блока */
}
.green-block2::after {
  content: ''; /* Пустое содержимое для псевдоэлемента */
  position: absolute;
  top: 0px; /* Расположите палочку справа от блока */
  left: 0px; /* Расположите палочку справа от блока */
  width: 3%; /* Ширина палочки */
  height: 100%; /* Высота палочки */
  background-color: rgba(0, 174, 113, 1); /* Цвет палочки тот же, что и у блока */
}
.green-block3::after {
  content: ''; /* Пустое содержимое для псевдоэлемента */
  position: absolute;
  top: 0px; /* Расположите палочку справа от блока */
  left: 0px; /* Расположите палочку справа от блока */
    width: 3%; /* Ширина палочки */
 /* Ширина палочки */
  height: 100%; /* Высота палочки */
  background-color: rgba(0, 174, 113, 1); /* Цвет палочки тот же, что и у блока */
}
.practicals ::after {
  content: ''; /* Пустое содержимое для псевдоэлемента */
  position: absolute;
  top: 0px; /* Расположите палочку справа от блока */
  left: 0px; /* Расположите палочку справа от блока */
    width: 3%; /* Ширина палочки */
 /* Ширина палочки */
  height: 100%; /* Высота палочки */
  background-color: rgba(73, 112, 255, 1); /* Цвет палочки тот же, что и у блока */
}
.practicals4 ::after {
  content: ''; /* Пустое содержимое для псевдоэлемента */
  position: absolute;
  top: 0px; /* Расположите палочку справа от блока */
  left: 0px; /* Расположите палочку справа от блока */
    width: 3%; /* Ширина палочки */
 /* Ширина палочки */
  height: 100%; /* Высота палочки */
  background-color: rgba(73, 112, 255, 1); /* Цвет палочки тот же, что и у блока */
}
.practicals5 ::after {
  content: ''; /* Пустое содержимое для псевдоэлемента */
  position: absolute;
  top: 0px; /* Расположите палочку справа от блока */
  left: 0px; /* Расположите палочку справа от блока */
    width: 3%; /* Ширина палочки */
 /* Ширина палочки */
  height: 100%; /* Высота палочки */
  background-color: rgba(73, 112, 255, 1); /* Цвет палочки тот же, что и у блока */
}

.hidden-row {
  display: none;
}

.visible-row {
  display: table-row;
}

/* Стиль для контейнера календаря */
.calendar-container {
  display: flex;
  padding: 20px;
  background-color: #F5F6FA;
  border-radius: 0 0 30px 30px;
  gap: 20px;
}

/* Внутренний контейнер для вертикального расположения sidebar и activity-filter */
.sidebar-activity-container {
  display: flex;
  flex-direction: column; /* Вертикальное расположение блоков */
  gap: 20px; /* Расстояние между блоками */
  width: 200%; /* Ширина контейнера для sidebar и activity-filter */
}

.sidebar { /* Календарь */
  padding: 10px;
  background-color: #fff;
  border-radius: 20px;
  margin: 10px;
  font-family: 'Franklin Gothic Medium', sans-serif;
  height: auto;
  width: 10;
}

/* Activity Filter */
.activity-filter {
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 20px;
  height: auto;
}

.activity-list label {
  flex-grow: 1; /* Название занимает все доступное пространство */
  text-align: left; /* Название выравнивается по левому краю */
  font-weight: bold;
  font-size: 1vw;
  font-family: 'Franklin Gothic Medium', sans-serif;
}

.activity-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Заголовок типов */
.activity-filter h2 { 
  font-size: 2vh;
  margin-top: 5px;
  padding-bottom: 10px;
  margin-left: -40%;
  text-transform: capitalize;
  text-align: center;
  margin-right: auto; /* Заголовок остаётся слева */
  font-family: 'Franklin Gothic Medium', sans-serif;
}

.activity-list li {
  display: flex;
  align-items: center; /* Вертикальное выравнивание элементов в строке */
  margin-bottom: 10px;
  justify-content: space-between; /* Распределяет пространство между элементами */
}

.activity-list input[type="checkbox"] {
  appearance: none; /* Убирает стандартный стиль */
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  margin-right: 10px;
}

/* Стиль для checkbox с id lectures */
#lectures {
  background-color: #FFFFFF;
  border: 2px solid #00AE71;
  font-size: 0.8vw;
}

#lectures:checked {
  background-color: #00AE71; /* Цвет фона при активации */
  border-color: #00AE71;
  font-size: 0.8vw;
}

#lectures:checked::before {
  content: '\2714'; /* Символ галочки */
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8vw;
}

/* Стиль для checkbox с id practicals */
#practicals {
  background-color: #FFFFFF;
  border: 2px solid #4970FF;
  font-size: 0.8vw;
}

#practicals:checked {
  background-color: #4970FF; /* Цвет фона при активации */
  border-color: #4970FF;
}

#practicals:checked::before {
  content: '\2714'; /* Символ галочки */
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8vw;
}

/* Стиль для checkbox с id labs */
#laba {
  background-color: #FFFFFF;
  border: 2px solid #8450DE;
}

#laba:checked {
  background-color: #8450DE; /* Цвет фона при активации */
  border-color: #8450DE;
}

#laba:checked::before {
  content: '\2714'; /* Символ галочки */
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8vw;
}

/*Заголовок календаря*/
.month-navigation h3 { 
  font-size: 0.9vw;
  margin: 0;
  text-transform: capitalize;
  text-align: center;
  font-family: 'Franklin Gothic Medium', sans-serif;
}

/*Навигация по месяцу*/
.month-navigation {
  display: flex;
  align-items: center;
  justify-content: flex-right; /* Кнопки справа */
  padding: 0 10px;
  gap: 10px;
}

/*Кнопка месяца*/
.month-navigation button {
  font-size: 1vw;
  margin-left: 30%; /* Сдвигаем кнопку вправо на 10 пикселей */ /* Сдвигаем кнопку вправо на 10 пикселей */
  background: none;
  border: 1px transparent; /* Изначально прозрачная граница */
  width: 30px;
  height: 30px;
  border-radius: 5px; /* Радиус для скругления углов */
}

.month-navigation button + button {
  margin-left: 1px; /* Уменьшите расстояние между кнопками */
}

.month-navigation button:hover {
  background-color: #dcdcdc; /* Цвет фона при наведении */
  border-color: #aaa; /* Цвет границы при наведении */
  width: 30px; /* Установите ширину обратно на 30px */
}


/* Стили для изображений стрелок навигации*/
.month-navigation img {
  width: 20px;
  height: auto;
  color: #5AAC74;
}

/*Навигация по неделям*/
.week-navigation {
  background-color: #F8F9FF;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Выравниваем содержимое по левому краю */
  padding: 0 px;
  border-radius: 10px 10px 0 0;
}

/*Заголов Недели*/
.week-navigation h2 {
  margin: 10px 0; /* Уменьшите отступы сверху и снизу, чтобы расстояние до кнопок было меньше */
  font-size: 1.5vw;
  text-transform: capitalize;
  text-align: left;
  font-family: 'Franklin Gothic Medium', sans-serif;
  
}


/*Кнопка недели*/
.week-navigation button {
  border-radius: 5px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 0.8vw;
  margin-bottom: -5px; /* Добавьте отступ снизу, чтобы кнопки находились ближе к заголовку */
}

.week-navigation button:hover {
  background-color: #dcdcdc; /* Цвет фона при наведении */
  border-color: #aaa; /* Цвет границы при наведении */
  width: 30px; /* Установите ширину обратно на 30px */
}

/* Изображения стрелок */
.week-navigation img {
  width: 20px; /* Ширина стрелок */
  height: auto;
  color: #5AAC74;
}

/* Стиль для выделенного дня */
.selected-day {
  position: relative;
  background-color: rgba(0, 0, 255, 0.3);
  border-radius: 50%;
}

.selected-day::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 70%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 123, 255, 0.4);
  z-index: 1;
}

.date-cell {
  position: relative; /* Добавляем относительное позиционирование для ячейки */
  height: 10vh; 
  width: 10vh;/* Задаем высоту ячейки для видимости блока */
}

/*Цвет ячеек чисел в календаре*/

/* Визуальный отступ заголовка от чисел */
.month-calendar {
  margin-top: 20px;
  width: 100%; /* Явно задаем ширину для календаря */
  height: auto; /* Автоматическая высота */
}

/* Ячейки заголовков и дней месяца */
.month-calendar th, 
.month-calendar td {
  height: 6vh; /* Устанавливаем одинаковую высоту для ячеек */
  width: auto; /* Ширина определяется автоматически */
  font-size: 1vw;
  padding: 0; /* Минимальный padding */
  text-align: center; /* Центрируем текст */
  border: none;
  box-sizing: border-box; /* Учитываем padding при расчете ширины */
}

/* Настройка для строк */
.month-calendar tr {
  height: auto; /* Высота строки адаптируется к содержимому */
  width: 100%; /* Ширина строки 100% */
  border: none;
}	

/* Ячейка дня месяца */
.month-calendar .date-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Относительное позиционирование */
  height: 6vh; /* Фиксированная высота для ячеек */
  width: 6vh; /* Фиксированная ширина для ячеек */
  background-color: #fff; /* Фон ячеек */
  border-radius: 10px; /* Закругленные углы */
  box-sizing: border-box; /* Учитываем padding и border */
}


/* Общее оформление для ячеек с числами */
.month-calendar .cell {
  height: 5vh; /* Фиксированная высота */
  width: 6vh; /* Фиксированная ширина */
  background-color: #fff;
  border-radius: 10px;
  font-size: 0.9vw;
  text-align: center;
  padding: 0; /* Минимальный padding */
  box-sizing: border-box;
}

.cell {
  width: 1000%; /* Фиксируем ширину */
  height: 100%; /* Фиксируем высоту */
  font-family: 'Franklin Gothic Medium', sans-serif;
  font-weight: bold;
}


/* НАСТРОЙКА НЕДЕЛИ(сетки и тд)*/
.weekly-calendar {
  flex-grow: 1; /* Заполняет оставшееся пространство */
  padding: 10;
  background-color: #fff;
  border-radius: 20px;
}

.week-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse; /* Убирает двойные границы между ячейками */
}

.week-table th,
.week-table td {
  padding: 2px;
  border: 1px solid #E5E8F2; /* Граница между ячейками */
}

.week-table th { /*Дни недели*/
  padding: 10px;
  background-color: #F8F9FF; /* Фон заголовков */
  border: 1px solid #F8F9FF; /* Граница между ячейками */
}

.time-cell {
  padding: 100px;
  width: 20%; /* Фиксированная ширина для выравнивания */
  height: auto;
  text-align: left; /* Выравнивание текста по правому краю */
  color: #4E7CA3;
  font-size: 1.9vh;
  font-family: 'Franklin Gothic Medium', sans-serif;
  font-weight: bold; 
}

.week-table tr:first-child {
  border-left: none; /* Граница слева для первого столбца */
  border-top: none;
}

.week-table td { /*Сетка*/
  border-left: none; /* Убираем правую границу для последнего столбца */
  border-bottom: none;
}

.week-table td:last-child { /*Сетка*/
  margin-top: 34%;
  border-right: none; /* Убираем правую границу для последнего столбца */
  border-left: none; /* Убираем правую границу для последнего столбца */
  border-bottom: none;
}
.month-calendar .week-table-cell{
  position: relative;
  height: 10%;
  width: 10%;
  font-size: 1.7vh;
  padding: 10px;
  color: #7B9BB9;
  background-color: #fff;
  font-family: 'Franklin Gothic Medium', sans-serif;
}

.week-table-cell {
  position: relative;
  height: 3vh;
  font-size: 1.7vh;
  padding: 10px;
  color: #7B9BB9;
  background-color: #fff;
  font-family: 'Franklin Gothic Medium', sans-serif;
}