/* CourseSelection.css */

.course-container {
  padding-bottom: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background-color: #F5F6FA;
  border-radius: 0% 0% 20px 20px;
}

.course-header {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 30px;
  font-family: 'Franklin Gothic Medium', sans-serif;
}

.course-button {
  width: 15%; /* Фиксированная ширина кнопки */
  height: 15%; /* Фиксированная высота кнопки для лучшего контроля */
  font-size: 1.2rem;
  font-weight: 600;
  color: #000; /* Цвет текста */
  background-color: #fff; /* Фон */
  border: none; /* Без границ */
  border-radius: 10px; /* Более закруглённые углы */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Тень */
  cursor: pointer;
  transition: all 0.4s ease; /* Плавные переходы для всех свойств */
  margin: 15px;
  display: flex; /* Используем flexbox для центрирования текста */
  align-items: center; /* Центрируем текст по вертикали */
  justify-content: center; /* Центрируем текст по горизонтали */
  font-family: 'Franklin Gothic Medium', sans-serif;
  font-weight: bold;
}

/* Эффекты при наведении */
.course-button:hover {
  background-color: #f5f5f5; /* Фон при наведении */
  transform: translateY(-6px) scale(1.05); /* Подъём и увеличение кнопки */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); /* Увеличенная тень */
}

/* Убираем эффект при фокусе */
.course-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(67, 160, 71, 0.4); /* Тень при фокусе */
}

.course-button:active {
  transform: translateY(2px) scale(0.98); /* Сжатие и уменьшение при нажатии */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Уменьшенная тень */
}
