/* CourseSelection.css */

.course-container {
   min-height: 79vh; /* Изменено на min-height для адаптивности */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Содержимое перемещено вверх */
  background-color: #F5F6FA;
  border-radius: 0% 0% 20px 20px;
  padding: 20px; /* Уменьшенный padding */
}

.course-header {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 30px;
  font-family: 'Franklin Gothic Medium', sans-serif;
}

.course-button {
 width: 20%; /* Фиксированная ширина кнопки */
  height: auto; /* Убрана фиксированная высота */
  padding: 15px; /* Добавлено для удобного нажатия */
  font-size: 1.2rem;
  font-weight: 600;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.4s ease;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Franklin Gothic Medium', sans-serif;
}

/* Эффекты при наведении */
.course-button:hover {
  background-color: #f5f5f5; /* Фон при наведении */
  transform: translateY(-6px) scale(1.05); /* Подъём и увеличение кнопки */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); /* Увеличенная тень */
}

/* Убираем эффект при фокусе */
.course-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(67, 160, 71, 0.4); /* Тень при фокусе */
}

.course-button:active {
  transform: translateY(2px) scale(0.98); /* Сжатие и уменьшение при нажатии */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Уменьшенная тень */
}

@media (max-width: 768px) {
	
	.course-container {
 	 gap:-10px;
  padding-bottom: 300px;
  margin-bottom:300px;
  display: flex;
  flex-direction: column;
  background-color: #F5F6FA;
  border-radius: 0% 0% 20px 20px;

}

.course-header {
  	padding-bottom:-100px;
  padding-right: 30%;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 30px;
  font-family: 'Franklin Gothic Medium', sans-serif;

}

.course-button {
  width: 90%; /* Фиксированная ширина кнопки */
  height: 10%; /* Фиксированная высота кнопки для лучшего контроля */
  font-size: 0.9rem;
  color: #000; /* Цвет текста */
  background-color: #fff; /* Фон */
  border: none; /* Без границ */
  padding-left:20px;
  justify-content: flex-start;
  border-radius: 30px; /* Более закруглённые углы */
  font-family: 'Franklin Gothic Medium', sans-serif;
  font-weight: bold;
}


}