.info-page {
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.6;
  background:#f5f6fa;
  font-family: 'Franklin Gothic Medium', sans-serif;
}

.info-page h1 {
  font-size: 1.8rem;
  color: #2d3748;
  margin-bottom: 15px;
  font-weight: bold;
  text-align: center;
}

.info-page h2 {
  font-size: 1.1rem;
  color: #4a5568;
  margin-bottom: 20px;
  font-weight: 400;
  text-align: justify;
}

.info-page h3 {
  font-size: 1rem;
  color: #4a5568;
  margin: 10px 0;
  font-weight: 400;
  padding-left: 20px; /* Отступ для точек */
  position: relative; /* Позиционирование для точки */
}

/* Стили для точек рядом с h3 */
.info-page h3::before {
  content: "•"; /* Символ точки */
  position: absolute;
  left: 0; /* Расположение точки */
  color: #2d3748;
  font-size: 1.2rem;
}

