.daunpage{
	background:#f5f6fa;
	padding:10px;
}

.dark-mode .info-page{
	border: 1px solid rgba(105, 105, 105, 1);
  background-color: #1a1a1a;
  color: #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.dark-mode .info-page h1 {
  color: #ffffff;
}
.dark-mode .info-page h2 {
  color: #ffffff;
}
.dark-mode .info-page h3 {
  color: #ffffff;
}

.dark-mode .daunpage{
  background-color: #090a0a;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.info-page {
  border-radius:40px;
  padding: 30px;
  font-family: Arial, sans-serif;
  color: #000000;
  line-height: 1.6;
  background:#ffffff;
  font-family: 'Franklin Gothic Medium', sans-serif;
}

.info-page h1 {
  font-size: 1.8rem;
  color: #000000;
  margin-bottom: 15px;
  font-weight: bold;
  text-align: center;
}

.info-page h2 {
  font-size: 1.1rem;
  color: #000000;
  margin-bottom: 20px;
  font-weight: 400;
  text-align: justify;
}

.info-page h3 {
  font-size: 1rem;
  color: #000000;
  margin: 10px 0;
  font-weight: 400;
  padding-left: 20px; 
  position: relative; 
}

.info-page h3::before {
  content: "•"; 
  position: absolute;
  left: 0; 
  color: #2d3748;
  font-size: 1.2rem;
}

