.portfolios-container {
  padding: 30px;
  border-radius: 0 0 30px 30px;
  background-color: #F5F6FA;
}

.portfolios-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  background-color: #F8F9FF;
  border-radius: 20px 20px 20px 20px;
}

.portfolios-table th, .portfolios-table td {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: left;
  font-size: 1.2vw;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', sans-serif;
}

.portfolios-table th {
  color: #7B9BB9;
  font-weight: bold;
  border-right: none; /* Убираем правую границу для последнего столбца */
  border-left: none; /* Убираем правую границу для последнего столбца */
  border-top: none;
}

.portfolios-table td {
  background-color: #fff;
  border-left: none; /* Граница слева для первого столбца */
  border-bottom: none;
}
.portfolios-table td:last-child {
  background-color: #fff;
  border-right: none; /* Граница слева для первого столбца */
  border-bottom: none;
}
