.dark-mode .profile-container1 {
   background-color: #090a0a;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.profile-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F5F6FA;
  font-family: 'Franklin Gothic Medium', sans-serif;
  background-color: #f5f5f5;
  min-height: 100vh;
  padding-top: 60px;
  position: relative;
}

.dark-mode .profile-header1 h2 {
 color: white;
}

.profile-header1 h2 {
 color: black;
}

.dark-mode .profile-header1 {
border: 1px solid rgba(105, 105, 105, 1);
  background-color: #1a1a1a;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.profile-header1 {
	margin-top: 3%;
/* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
border: 1px solid rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 0;
  width: 95%;
  height: 18%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.profile-title {
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.dark-mode .Viktor {
 border: 1px solid rgba(105, 105, 105, 1);
  background-color: #1a1a1a;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.Viktor {
  font-family: 'Franklin Gothic Medium', sans-serif;
  font-weight: bold;
  background: white;
  width: 87%;
  max-width: 400px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
border: 1px solid rgba(255, 255, 255, 0.6);
  text-align: left;
  margin-top: 33%;
}

.profile-card {
  width: 90%;
  max-width: 400px;
  text-align: left;
}

.dark-mode .profile-email{
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.profile-email{
  color: black;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.dark-mode .profile-group{
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.profile-group{
  color: black;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}


.profile-label {
  color: #777;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.dark-mode .profile-group-btn {
  border: 1px solid rgba(105, 105, 105, 1);
  background-color: #1a1a1a;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.profile-group-btn {
  font-family: 'Franklin Gothic Medium', sans-serif;
  font-weight: bold;
  width: 100%;
  padding: 10px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: left;
  font-size: 16px;
  cursor: pointer;
  position: relative;
}

.dark-mode .dropdown-menu {

}

.dropdown-menu {
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  position: absolute;
  width:90%;
  margin-top: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.dropdown-item:hover {
  background: #f0f0f0;
}

.checkmark {
  width: 20px;
  height: 20px;
}

.dark-mode .exit-button button{
  border: 1px solid rgba(105, 105, 105, 1);
  background-color: #1a1a1a;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.exit-button {
  
  width: 30%;
  max-width: 400px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #d32f2f;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

.exit-button:hover {
  background: #b71c1c;
}

.go-to-schedule {
  width: 90%;
  max-width: 400px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #00c853;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

.go-to-schedule:hover {
  background: #white;
}
