
  @keyframes glowGreenafter {
  0% {
    background: rgba(181, 24, 81, 1);
    box-shadow: 0 0 5px rgba(181, 24, 81, 0.5);
  }
  50% {
   background: rgba(181, 24, 81, 1);
    box-shadow: 0 0 30px rgba(181, 24, 81, 1);
	color: rgba(0,0,0, 0.7);
  }
  100% {
    background: rgba(181, 24, 81, 1);
    box-shadow: 0 0 5px rgba(181, 24, 81, 0.5);
  }
}

@keyframes glowlabaafter {
	0%{ 
    background: rgba(160, 51, 255, 1);
    box-shadow: 0 0 5px rgba(139,0,255, 0.5);
  }
  50% {
    background: rgba(160, 51, 255, 1);
    box-shadow: 0 0 30px rgba(139,0,255, 1);
	color: rgba(0,0,0, 0.7);
  }
  100% {
    background: rgba(160, 51, 255, 1);
    box-shadow: 0 0 5px rgba(139,0,255, 0.5);
  }
}

@keyframes glowpracticalsafter {
  0% {
    background: rgba(247, 183, 51, 0.6);
    box-shadow: 0 0 5px rgba(255,165,0, 0.5);
  }
  50% {
    background: rgba(247, 183, 51, 0.6);
    box-shadow: 0 0 30px rgba(255,165,0, 1);
	color: rgba(0,0,0, 0.7);
  }
  100% {
    background: rgba(247, 183, 51, 0.6);
    box-shadow: 0 0 5px rgba255,165,0, 0.5);
  }
}

@keyframes glowGreen {
  0% {
    background: linear-gradient(90deg, #e61c66, #ed77a2);
    box-shadow: 0 0 5px rgba(181, 24, 81, 0.5);
    transform: scale(1);
  }
  50% {
    background: linear-gradient(90deg, #e61c66, #ed77a2);
    box-shadow: 0 0 10px rgba(181, 24, 81, 1);
    color: rgba(0, 0, 0, 0.7);
    transform: scale(1.05);
  }
  100% {
    background: linear-gradient(90deg, #e61c66, #ed77a2);
    box-shadow: 0 0 5px rgba(181, 24, 81, 0.5);
    transform: scale(1);
  }
}


@keyframes glowlaba {
  0% {
    background: linear-gradient(90deg, #8B00FF,   #cf99ff);
    box-shadow: 0 0 5px rgba(139,0,255, 0.3);
	transform: scale(1);
  }
  50% {
    background: linear-gradient(90deg, #8B00FF,   #cf99ff);
    box-shadow: 0 0 10px rgba(139,0,255, 1);
    color: rgba(0, 0, 0, 0.7);
	transform: scale(1.05);
  }
  100% {
    background: linear-gradient(90deg, #8B00FF,   #cf99ff);
    box-shadow: 0 0 1px rgba(139,0,255, 0.3);
	transform: scale(1);
  }
}



@keyframes glowpracticals {
  0% {
    background: linear-gradient(90deg, #fc4a1a, #f7b733);
    box-shadow: 0 0 5px rgba( 237,118,14, 0.5);
	transform: scale(1);
  }
  50% {
    background: linear-gradient(90deg, #fc4a1a, #f7b733);
    box-shadow: 0 0 10px rgba( 237,118,14, 1);
	color: rgba(0,0,0, 0.7);
	transform: scale(1.05);
  }
  100% {
    background: linear-gradient(90deg, #fc4a1a, #f7b733);
    box-shadow: 0 0 1px rgba( 237,118,14, 0.5);
	transform: scale(1);
  }
}

.locations {
    width: 15px;
    height: 15px;
	padding-right:10px
}

.time {
    width: 15px;
    height: 15px;
	padding-right:10px
}

.lectures.current-interval::after {
  animation: glowGreenafter 2s infinite;
}

.laba.current-interval::after {
  animation: glowlabaafter 2s infinite; 
}

.practicals.current-interval::after {
  animation: glowpracticalsafter 2s infinite; 
}

.lectures.current-interval {
  animation: glowGreen 2s infinite;
}

.laba.current-interval {
  animation: glowlaba 2s infinite;
}

.practicals.current-interval {
  animation: glowpracticals 2s infinite;
}

.practicals .type-label, 
.lectures .type-label, 
.laba .type-label {
    display: inline-block; 
    padding: 3px 5px;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-weight: 100;
    font-size: 1rem;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    max-width: 70%;
    text-align: center;
}

.practicals .text-task, 
.lectures .text-task, 
.laba .text-task {
    display: block;
    text-align: left;
    padding-top: 0px;  /* Убираем отступ сверху */
    margin-left: 4%;
    margin-right: 4%;
    font-size: 1rem;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-weight: 400;
    line-height: 1.3;
    word-wrap: break-word;
    white-space: normal;
    hyphens: auto;
    overflow-wrap: break-word;
}


.practicals .text-place, .lectures .text-place, .laba .text-place {
   display: flex;
  justify-content: left;
  align-items: center;
  padding-top:0%;
  margin-left:4%;
  font-size: 0.9rem;
  color: #ffffff;
  font-family: 'Franklin Gothic Medium', sans-serif;
  font-weight: 100;
}

.practicals .text-time, .lectures .text-time, .laba .text-time  {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom:3%;
  padding-top:3%;
  margin-left:4%;
  color: #ffffff;
  font-family: 'Franklin Gothic Medium', sans-serif;
  font-weight: 100;
  font-size: 0.9rem;
}


.lectures, .laba, .practicals {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.lectures {
  background: linear-gradient(90deg, #e61c66, #ed77a2);
 
}

.laba {
  background: linear-gradient(90deg, #8B00FF, #cf99ff);
}

.practicals {
  background: linear-gradient(90deg, #fc4a1a, #f7b733);

}

.hidden-row {
  display: none;
}

.visible-row {
  display: table-row;
}

.calendar-container {
	
  display: flex;
  padding: 20px;
  background-color: #F5F6FA;
  border-radius: 0 0 30px 30px;
  gap: 20px;
}

.mobile-schedule-container{
	display:none;
}


.sidebar-activity-container {
  display: flex;
  flex-direction: column; 
  gap: 20px; 
  width: 200%; 
}

.sidebar { 
  padding: 10px;
  background-color: #fff;
  border-radius: 20px;
  margin: 10px;
  font-family: 'Franklin Gothic Medium', sans-serif;
  height: auto;
  width: 90%;
}


.activity-filter {
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 20px;
  height: auto;
  width: 90%;
}


.dark-mode .sidebar {
  background-color: #181C3A;
}

.dark-mode .calendar-container {
  color: #ffff;
  background-color: #090D28;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode .activity-filter {
  color: #ffff;
  background-color: #181C3A;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.dark-mode .time-cell {
  color: #ffff;
  background-color: #151934;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode .week-table-cell {
  color: #ffff;
  background-color: #181C3A;
  transition: background-color 0.3s ease, color 0.3s ease;
}


.dark-mode .date-cell-desktop {
  color: #ffff;
  background-color: #151934;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode .month-calendar .cell {
  color: #ffff;
  background-color: #181C3A;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode .month-calendar .week-table-cell {
  color: #ffff;
  background-color: #181C3A;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode .week-table th{
  color: #ffff;
  background-color: #181C3A;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode .week-navigation{
  color: #ffff;
  background-color: #181C3A;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode .week-table th{
  color: #ffff;
  border: 1px solid #181C3A;
  transition: background-color 0.3s ease, color 0.3s ease;
}


.activity-list label {
  flex-grow: 1; 
  text-align: left;
  font-weight: bold;
  font-size: 1.7vh;
  font-family: 'Franklin Gothic Medium', sans-serif;
}

.activity-list {
  list-style: none;
  padding: 0;
  margin: 0;
  
}
.activity-filter h2 { 
  font-size: 2vh;
  margin-top: 5px;
  padding-bottom: 10px;
  margin-left: -40%;
  text-transform: capitalize;
  text-align: center;
  margin-right: auto;
  font-family: 'Franklin Gothic Medium', sans-serif;
}

.activity-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}

.activity-list input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  margin-right: 10px;
}

#lectures {
  background-color: #FFFFFF;
  border: 2px solid #e61c66;
 font-size: 1.7vh;
}

#lectures:checked {
  background-color: #e61c66;
  border-color: #e61c66;
  font-size: 1.7vh;
}

#lectures:checked::before {
  content: '\2714'; 
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.7vh;
}


#practicals {
  background-color: #FFFFFF;
  border: 2px solid #fc4a1a;
  font-size: 1.7vh;
}

#practicals:checked {
  background-color: #fc4a1a; 
  border-color: #fc4a1a;
}

#practicals:checked::before {
  content: '\2714'; 
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.7vh;
}

#laba {
  background-color: #FFFFFF;
  border: 2px solid #8450DE;
}

#laba:checked {
  background-color: #8450DE; 
  border-color: #8450DE;
  font-size: 1.7vh;
}

#laba:checked::before {
  content: '\2714'; 
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.7vh;
}
.week-navigation h3 { 
  padding: 1%;
  font-size: 3vh;
  margin: 0;
  text-transform: capitalize;
  text-align: center;
  font-family: 'Franklin Gothic Medium', sans-serif;
}

.month-navigation h3 { 
  font-size: 1.9vh;
  margin: 0;
  text-transform: capitalize;
  text-align: center;
  font-family: 'Franklin Gothic Medium', sans-serif;
}


.month-navigation {
  display: flex;
  align-items: center;
  justify-content: flex-right; 
  padding: 0 10px;
  gap: 10px;
}


.month-navigation button {
  font-size: 1vw;
  margin-left: 30%; 
  background: none;
  border: 1px transparent; 
  width: 30px;
  height: 30px;
  border-radius: 5px; 
}

.month-navigation button + button {
  margin-left: 1px; 
}

.month-navigation button:hover {
  background-color: #dcdcdc; 
  border-color: #aaa; 
  width: 30px; 
}

.month-navigation img {
  width: 20px;
  height: auto;
  color: #5AAC74;
}


.week-navigation {
  background-color: #F8F9FF;
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  padding: 0 px;
  border-radius: 10px 10px 0 0;
}


.week-navigation h2 {
  margin: 10px 0; 
  font-size: 1.5vw;
  text-transform: capitalize;
  text-align: left;
  font-family: 'Franklin Gothic Medium', sans-serif;
  
}



.week-navigation button {
  border-radius: 5px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 0.8vw;
  margin-bottom: -5px; 
}

.week-navigation button:hover {
  background-color: #dcdcdc; 
  border-color: #aaa; 
  width: 30px; 
}

.week-navigation img {
  width: 20px; 
  height: auto;
  color: #5AAC74;
}


.selected-day {
  position: relative;
  background-color: rgba(0, 0, 255, 0.3);
  border-radius: 50%;
}

.selected-day::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 70%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 123, 255, 0.4);
  z-index: 1;
}

.date-cell-desktop {
  display: table-cell;
  vertical-align: top;
  height: 200px; 
}

.month-calendar {
  margin-top: 20px;
  width: 100%; 
  height: auto; 
}

.month-calendar th, 
.month-calendar td {
  height: 6vh; 
  width: auto; 
  font-size: 1vw;
  padding: 0; 
  text-align: center; 
  border: none;
  box-sizing: border-box;
}


.month-calendar tr {
  height: auto; 
  width: 100%; 
  border: none;
}	


.month-calendar .date-cell{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
  height: 6vh; 
  width: 6vh; 
  background-color: #fff;
  border-radius: 10px; 
  box-sizing: border-box; 
}


.month-calendar .cell {
  height: 5vh; 
  width: 6vh; 
  background-color: #fff;
  border-radius: 10px;
  font-size: 1.8vh;
  text-align: center;
  padding: 0;
  box-sizing: border-box;
}

.cell {
  width: 1000%; 
  height: 100%;
  font-family: 'Franklin Gothic Medium', sans-serif;
  font-weight: bold;
}

.daun-calendar {
  height:100%;
  flex-grow: 1; 
  padding: 10;
  background-color: #fff;
  border-radius: 20px;
  max-height:10%;
}

.week-table {
  background-color: #Ffffff;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-radius: 10%;
}

.week-table th,
.week-table td {
  padding: 2px;
  border: 1px solid #E5E8F2; 
}

.week-table th {
  padding: 10px;
  background-color: #F8F9FF; 
  border: 1px solid #F8F9FF; 
}

.time-cell {

  padding: px;
  width: 100%;
  height: auto;
  text-align: center; 
  color: #4E7CA3;
  font-size: 1.9vh;
  font-family: 'Franklin Gothic Medium', sans-serif;
  font-weight: bold; 
}

.pair-name {
  flex: 1; 
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.pair-time {
  font-size: 2h; 
  margin-top: 38%; 
}

.week-table tr:first-child {
  border-left: none; 
  border-top: none;
}

.week-table td { 
  border-left: none; 
  border-bottom: none;
}

.week-table td:last-child { 
  margin-top: 34%;
  border-right: none; 
  border-left: none;
  border-bottom: none;
}
.month-calendar .week-table-cell{
  position: relative;
  height: 10%;
  width: 10%;
  font-size: 1.7vh;
  padding: 10px;
  color: #7B9BB9;
  background-color: #fff;
  font-family: 'Franklin Gothic Medium', sans-serif;
}

.week-table-cell {
  position: relative;
  height: 3vh;
  font-size: 1.7vh;
  padding: 10px;
  color: #7B9BB9;
  background-color: #fff;
  font-family: 'Franklin Gothic Medium', sans-serif;
}

@media (min-width: 1000px) {
	
.back-button {
  display: inline-flex;
  transform: translateX(-250px);
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 30px;
  border:none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  transition: all 0.4s ease;
  width: 100px;
}

.back-button img {
  display: inline-flex;
  width: 40%;
  height: auto;
  border-radius: 30px;
}

.back-button:hover {
  background-color: #f5f5f5;
  transform: translateX(-250px) translateY(-6px) scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.back-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 2, 0.4);
}

.back-button:active {
  transform: translateX(-250px) translateY(2px) scale(0.98);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

}
@media (max-width: 768px) {
	
	
	
   .header-container {
	padding-bottom:10px;
	padding-top:10px;
	margin-top: 00px;
    margin-bottom:15px;
    display: flex;
    align-items: center; 
}

.back-button {
    background: #ffffff;
	border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 10px; 
    cursor: pointer;
}


.back-button:active {
  transform: translateY(2px) scale(0.98);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.dark-mode .arrow-icon{
filter: brightness(0) invert(1); 	
}

.dark-mode .back-arrow {
    padding: 3px;
    width: 19px;
    height: 19px;
    margin-right: 10%;
    filter: brightness(0) invert(1); 
}


.back-arrow {
    padding: 3px;
    width: 19px;
    height: 19px;
    margin-right: 10%;
}

	.mobile-schedule-container{
	height:100%;
	display:flex;
	flex-direction: column;
    font-family: 'Franklin Gothic Medium', sans-serif;
}
	.calendar-container {
    flex-direction: column; 
    padding: 0%;
    background-color: #D7E2F1;
	height:100%;
    width: 100%;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
 
	
	.group-name{
    display: flex;
	margin-left:23%;
    align-items: center; 
	width: 28%;
	background-color: #ffff;
	border-radius:20px 20px 20px 20px;
    justify-content: center;
	height:35px;
	color: #00000;
	}	
	
	.group-name h2 {
    font-weight: 100;
	padding:0px;
	font-size: 1.5rem;
	}
	
.dark-mode	.week-navigation-mobile img {
    padding-top:25%;
	height:15px;
    filter: brightness(0) invert(1);
	}
	
	.week-navigation-mobile img {
    padding-top:25%;
	height:15px;
	color: #7d878f;
	}
	
	.week-navigation-mobile button {
	background-color: #ffff;
	border-radius:20px 20px 20px 20px;
	height:100%;
	border: 0px solid #ffffff;
	}
	
	.week-navigation-mobile{
    width:95%;
	margin-bottom:8%;
	margin-left:3%;
	background-color: #ffff;
	border-radius:20px 20px 20px 20px;
	display: flex;
    justify-content: center;
    align-items: center;
	height:40px;
	color: #7d878f;
	}
	
	.week-navigation-mobile h2 {
    font-weight: 100;
	padding:10px;
	}
	
	.dark-mode  .data-prime h2 {
    font-weight: 100;
	padding:20px;
	color:#ffffff;
	}
	
	.data-prime {
     border-radius: 20px 20px 0px 0px;
    display: flex;
    justify-content: left;
    align-items: center;
    color: #172a39;
    background: rgba(255, 255, 255, 0); 
    height: 43px;
    z-index: 1000;
}

	.data-prime h2 {
    font-weight: 100;
	padding:20px;
	color:#ffffff;
	}
	.daun-calendar{
		display:none;
	}
	.sidebar-activity-container{
		display:none;
	}
	

	
	.day-selector-container {
    height: 100%;
    border-radius: 20px 20px 0px 0px;
    background: linear-gradient(90deg, #2980B9, #6DD5FA,  #77A1D3, #79CBCA, #E684AE,#56B4D3);
	background-size: 650% 400%;
	animation: gradient 30s ease infinite;
	transform: translate3d(0, 0, 0);
}
 
 .dark-mode .day-selector-container {
    height: 100%;
    border-radius: 20px 20px 0px 0px;
    background: #232526;
	background-size: 650% 400%;
	animation: gradient 10s ease infinite;
	transform: translate3d(0, 0, 0);
}
 
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

  .mobile-schedule-container {
    padding: 12px;
    border-radius: 0px;
    background-color: #F5F6FA;
  }

.dark-mode .day-selector {
    box-shadow: 0px 10px 10px rgba(255, 255, 255, 1);
	  height:50px;
background: rgba(0, 0, 0, 0.7);
border-radius: 16px;
box-shadow: 0px 3px 3px rgba(255, 255, 255, 0.0);
border: 0px solid rgba(255, 255, 255, 0.35);
	padding-top:10px;
    display: flex;
    justify-content: space-between;
	border-radius: 20px 20px 0px 0px;
    gap: 4px;
    margin-bottom: 0px;
  }

  .day-selector {
    box-shadow: 0px 10px 10px rgba(255, 255, 255, 1);
	  height:50px;
background: rgba(255, 255, 255, 0.55);
border-radius: 16px;
box-shadow: 0px 3px 3px rgba(255, 255, 255, 0.0);
border: 0px solid rgba(255, 255, 255, 0.35);
	padding-top:10px;
    display: flex;
    justify-content: space-between;
	border-radius: 20px 20px 0px 0px;
    gap: 4px;
    margin-bottom: 0px;
  }

.dark-mode  .day-button {
    color: #ffffff; 
}

 .day-button {
    flex: 2; 
	width: 0%;
    min-width: 10%; 
    border: 0px solid #ffffff;
    background: rgba(255, 255, 255, 0.0);
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    color: #000000;
    border-radius: 50%;
    font-weight: 100;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.day-button:hover {
    background: rgba(255, 255, 255, 0.0); 
}

.dark-mode .day-button.selected {
   background: rgba(255, 255, 255, 0.0);
    font-weight: 800;
    border-color: #2b71ff;
	color: #ffffff;
  }

  .day-button.selected {
   background: rgba(255, 255, 255, 0.0);
    font-weight: 800;
    border-color: #2b71ff;
	color: #000000;
  }

  .mobile-day-schedule {
	width: 100%;
    height:10%;
    border-radius: 0px;
	border: 0px solid #fffffff;
  }
	
	.mobile-day-schedule table {	
	font-family: 'Franklin Gothic Medium', sans-serif;
    width: 100%; 
    background-color: #fffff; 
	border-radius: 10px;
	
}
	
	.mobile-day-schedule td {
  background-color: #ffffff;
}
	
  .weekly-calendar{
	display:none;
}
	
 .date-cell-mobile  {
	 border-radius:5px;
  height:10%;
  display: table-cell; 
}

.date-cell-mobile:empty {
  display: none;
}

.dark-mode .lectures .type-label{
    color: #e61c66;
	font-weight: 600;
}

.dark-mode .practicals .type-label{
    color: #ffa500;
	font-weight: 600;
}

.dark-mode .laba .type-label{
	color: #b866ff;
	font-weight: 600;
}

.practicals .type-label, 
.lectures .type-label, 
.laba .type-label {
    position: absolute; 
    right: 10px; 
    padding: 5px;
	top:6px;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-weight: 100;
    font-size: 1rem;
    border-radius: 3px;
	/* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

	

.practicals .text-task, 
.lectures .text-task, 
.laba .text-task {
    display: block; 
    text-align: justify; 
    padding-top: 11%;
    margin-left: 4%;
    padding-right: 4%;
    font-size: 1.18rem;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-weight: 100;
    line-height: 1.3;
    word-wrap: break-word; 
    white-space: normal;
    hyphens: auto; 
    overflow-wrap: break-word; 
}



.locations {
    width: 4%;
    height: 4%;
	margin-right:0.6%;
}

.time img {
    width: 100%; 
    height: auto;
}


.time {
	margin-right:1%;
    width: 4%;
	height: 4%;
}

.practicals .text-place, .lectures .text-place, .laba .text-place {
   display: flex;
  justify-content: left;
  align-items: center;
  padding-top:3%;
  margin-left:4%;
  font-size: 1rem;
  color: #ffffff;
  font-family: 'Franklin Gothic Medium', sans-serif;
  font-weight: 100;
}

.dark-mode .lectures .text-time{
	color: #e61c66;
	font-weight: 600;
}
.dark-mode .practicals .text-time{
	color: #ffa500;
	font-weight: 600;
}

.dark-mode .laba .text-time{
	color: #b866ff;
	font-weight: 600;
}


.practicals .text-time, .lectures .text-time, .laba .text-time  {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom:3%;
  padding-top:3%;
  margin-left:4%;
  color: #ffffff;
  font-family: 'Franklin Gothic Medium', sans-serif;
  font-weight: 100;
  font-size: 0.9rem;
}

.dark-mode .practicals {
	border: 1px solid rgba(105, 105, 105, 1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: #ffffff;
    background: #232526;
    border-radius: 20px;
    padding: 0px;
    text-align: center;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

.practicals {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  justify-content: flex-start; 
  background: linear-gradient(90deg, #fc4a1a, #f7b733);
  color: white;
  border-radius: 20px 20px 20px 20px;
  padding: 0px;
  text-align: center;
  width: 100%;
  height: auto; 
  box-sizing: border-box;
  max-width: 100%; 
  max-height: 100%;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(73, 112, 255, 0.0);
  margin-top: 20px;  
  margin-bottom: 20px;
  position: relative; 
}

.dark-mode .practicals::after
{
	
background: rgba(65, 67, 69, 0.9);
}

.dark-mode .laba::after
{
	
background: rgba(65, 67, 69, 0.9);	
}

.dark-mode .lectures::after
{
	
background: rgba(65, 67, 69, 0.9);	
}

.practicals::after {
    content: '';
    position: absolute; 
    top: -11%;
    left: 0; 
    bottom: 0; 
    width: 2%; 
	border-radius: 16px;
background: rgba(247, 183, 51, 0.5);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9.3px);
-webkit-backdrop-filter: blur(9.3px);
border: 0px solid rgba(17, 100, 180, 1);

}


.dark-mode .lectures {
	border: 1px solid rgba(105, 105, 105, 1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: #ffffff;
  background: #232526;
    border-radius: 20px;
    padding: 0px;
    text-align: center;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

.lectures {
	 display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: flex-start; 
  color: #00AE71;
  flex-direction: collumn;
  background: linear-gradient(90deg, #e61c66,  #ed77a2);
  border-radius: 20px 20px 20px 20px;	
  padding: 0px;
  text-align: center;
  width: 100%;
  height: auto; 
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  color: #ffffff;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 174, 113, 0.0);
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative; 
}

.lectures::after {
    content: '';
    position: absolute; 
    top: -10%;
    left: 0; 
    bottom: 0; 
    width: 2%; 
    background: rgba(181, 24, 81, 1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.3px);
    -webkit-backdrop-filter: blur(9.3px);
    border: 0px solid rgba(160, 51, 255, 0.35);
}
  
  .dark-mode .Previous-Week
{
	padding: 3px;
    width: 15px;
    height: 15px;
    margin-right: 10%;
    filter: brightness(0) invert(1);
}
  
 .dark-mode .laba {
	 border: 1px solid rgba(105, 105, 105, 1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: #ffffff;
    background: #232526;
    border-radius: 20px;
    padding: 0px;
    text-align: center;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}
  
 .laba {
   display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  background: linear-gradient(90deg, #8B00FF,   #cf99ff);
  color: white;
  border-radius: 20px 20px 20px 20px;
  padding: 0px;
  text-align: center;
  width: 100%;
  height: auto; 
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(160, 51, 255, 0.0);
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative; 
}

.laba::after {
  content: '';
    position: absolute; 
    top: -11%;
    left: 0; 
    bottom: 0; 
    width: 2%; 
	border-radius: 16px;
background: rgba(160, 51, 255, 1);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9.3px);
-webkit-backdrop-filter: blur(9.3px);
border: 0px solid rgba(160, 51, 255, 0.35);
} 
  
  @keyframes glowGreenafter {
  0% {
    background: rgba(181, 24, 81, 1);
    box-shadow: 0 0 5px rgba(181, 24, 81, 0.5);
  }
  50% {
   background: rgba(181, 24, 81, 1);
    box-shadow: 0 0 30px rgba(181, 24, 81, 1);
	color: rgba(0,0,0, 0.7);
  }
  100% {
    background: rgba(181, 24, 81, 1);
    box-shadow: 0 0 5px rgba(181, 24, 81, 0.5);
  }
}

@keyframes glowlabaafter {
	0%{ 
    background: rgba(160, 51, 255, 1);
    box-shadow: 0 0 5px rgba(139,0,255, 0.5);
  }
  50% {
    background: rgba(160, 51, 255, 1);
    box-shadow: 0 0 30px rgba(139,0,255, 1);
	color: rgba(0,0,0, 0.7);
  }
  100% {
    background: rgba(160, 51, 255, 1);
    box-shadow: 0 0 5px rgba(139,0,255, 0.5);
  }
}

@keyframes glowpracticalsafter {
  0% {
    background: rgba(247, 183, 51, 0.6);
    box-shadow: 0 0 5px rgba(255,165,0, 0.5);
  }
  50% {
    background: rgba(247, 183, 51, 0.6);
    box-shadow: 0 0 30px rgba(255,165,0, 1);
	color: rgba(0,0,0, 0.7);
  }
  100% {
    background: rgba(247, 183, 51, 0.6);
    box-shadow: 0 0 5px rgba255,165,0, 0.5);
  }
}

@keyframes glowGreen {
  0% {
    background: linear-gradient(90deg, #e61c66, #ed77a2);
    box-shadow: 0 0 5px rgba(181, 24, 81, 0.5);
    transform: scale(1);
  }
  50% {
    background: linear-gradient(90deg, #e61c66, #ed77a2);
    box-shadow: 0 0 30px rgba(181, 24, 81, 1);
    color: rgba(0, 0, 0, 0.7);
    transform: scale(1.05);
  }
  100% {
    background: linear-gradient(90deg, #e61c66, #ed77a2);
    box-shadow: 0 0 5px rgba(181, 24, 81, 0.5);
    transform: scale(1);
  }
}


@keyframes glowlaba {
  0% {
    background: linear-gradient(90deg, #8B00FF,   #cf99ff);
    box-shadow: 0 0 5px rgba(139,0,255, 0.5);
	transform: scale(1);
  }
  50% {
    background: linear-gradient(90deg, #8B00FF,   #cf99ff);
    box-shadow: 0 0 30px rgba(139,0,255, 1);
    color: rgba(0, 0, 0, 0.7);
	transform: scale(1.05);
  }
  100% {
    background: linear-gradient(90deg, #8B00FF,   #cf99ff);
    box-shadow: 0 0 5px rgba(139,0,255, 0.5);
	transform: scale(1);
  }
}



@keyframes glowpracticals {
  0% {
    background: linear-gradient(90deg, #fc4a1a, #f7b733);
    box-shadow: 0 0 5px rgba( 237,118,14, 0.5);
	transform: scale(1);
  }
  50% {
    background: linear-gradient(90deg, #fc4a1a, #f7b733);
    box-shadow: 0 0 30px rgba( 237,118,14, 1);
	color: rgba(0,0,0, 0.7);
	transform: scale(1.05);
  }
  100% {
    background: linear-gradient(90deg, #fc4a1a, #f7b733);
    box-shadow: 0 0 5px rgba( 237,118,14, 0.5);
	transform: scale(1);
  }
}

  
}
