.app {
  font-family: Arial, sans-serif;
  padding: 1%;
  margin-right: 200px;
  background-color: #D7E2F1;
  width: 98%;
  transition: background-color 0.3s ease, color 0.3s ease;
}


.logo-button {
  margin-left: 30%;
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 30px;
  height: 70px;
}

.logo-image {
  width: 30px;
  height: auto;
}

.dark-mode {
  background-color: #06090E;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode .header {
  background-color: #181C3A;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode .header-button {
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.theme-toggle {
  width: 3vh;
  height: 3vh;
  font-size: 1.2rem;
  font-weight: 600;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  transition: background-color 0.5s ease; /* Плавный переход для фона */
  margin: 15px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Franklin Gothic Medium', sans-serif;
  font-weight: bold;
}

/* Анимация вращения при нажатии */
.theme-toggle:focus {
  animation: rotate 1s ease forwards; /* Вращение на 1 секунду */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  height: 25px;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 20px 20px 0 0;
  position: relative;
  z-index: 1000;
}

.drawer {
  position: absolute; /* Привязываем шторку к header */
  top: 10%; /* Располагаем шторку под header */
  left: 10px;
  width: 90%;
  max-height: 0;
  overflow: hidden;
  background-color: #fff;
  border-radius: 0px 0px 30px 30px;
  transition: max-height 0.4s ease; /* Плавный переход */
  z-index: 999;
}

/* Состояние шторки "открыто" */
.drawer.open {
  height: 25vh; /* Высота для полного отображения */
}




.header-buttons1 {
  height: 70%;
  width: 20%;
  margin-left: 1%;
  display: flex;
  font-weight: 600;
  font-size: 1rem;
  font-family: 'Franklin Gothic Medium', sans-serif;
  gap: 1%;
}

.header-button {
  text-decoration: none;
  color: black;
  width: 50%; /* Фиксированная ширина кнопки */
  height: 100%; /* Фиксированная высота кнопки для лучшего контроля */
  color: #000; /* Цвет текста */
  background-color: #fff; /* Фон */
  border: none; /* Без границ */
  border-radius: 30px; /* Более закруглённые углы */
  cursor: pointer;
  transition: all 0.4s ease; /* Плавные переходы для всех свойств */
  margin-left: 15px;
  display: flex; /* Используем flexbox для центрирования текста */
  align-items: center; /* Центрируем текст по вертикали */
  justify-content: center; /* Центрируем текст по горизонтали */
  font-family: 'Franklin Gothic Medium', sans-serif;
}


.header-button:hover {
  background-color: #f5f5f5; /* Фон при наведении */
  transform: translateY(-1px) scale(1.05); /* Подъём и увеличение кнопки */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); /* Увеличенная тень */
}

/* Убираем эффект при фокусе */
.header-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0); /* Тень при фокусе */
}

.header-button:active {
  transform: translateY(2px) scale(0.98); /* Сжатие и уменьшение при нажатии */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Уменьшенная тень */
}

@media (max-width: 896px) {
	
	/* Кнопка для открытия шторки */
.menu-button {
	
  width: 32px;
  height: 30px;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  position: absolute;
  width: 16px;
  height:2px;
  background-color: #333;
  transition: all 0.2s ease;
}

.line1 {
  transform: translateY(-5px);
}

.line2 {
  transform: translateY(5px);
}

/* Состояние "открыто" */
.menu-button.open .line1,
.menu-button.open .line2 {
  transform: translateY(0); /* Линии сходятся в центре */
}

.menu-button.open .line1.opened {
	transition: all 0.2s ease;
  transform: rotate(45deg); /* Первая линия поворачивается для крестика */
}

.menu-button.open .line2.opened {
	transition: all 0.2s ease;
  transform: rotate(-45deg); /* Вторая линия поворачивается для крестика */
}
	
.app {
  font-family: Arial, sans-serif;
  padding: 0%;
  background-color: #D7E2F1;
  width: 100%;
  transition: background-color 0.3s ease, color 0.3s ease;
}
 
 

  .header-button {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Размещаем текст слева, а стрелку справа */
    width: 60%; /* Задайте нужную ширину кнопки */
    height: 10%;
    padding: 10px 20px;
    gap: 10px; /* Расстояние между текстом и изображением */
    background-color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.4s ease;
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-weight: 600;
  }

  .header-button:hover {
    background-color: #fff; /* Фон при наведении */
    transform: translateY(-3px) scale(1.05); /* Подъём и увеличение кнопки */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.0); /* Увеличенная тень */
  }

  .header-button:active {
    transform: translateY(2px) scale(0.98); /* Сжатие и уменьшение при нажатии */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.); /* Уменьшенная тень */
  }

  .header-buttons {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-weight: 600;
  }

 .header {
    position: sticky;
    top: 0;
    background-color: #fff; 
    z-index: 1000; 
    padding: 10px;
	border-radius:0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

 .drawer {
  position: fixed; /* Привязываем шторку к header */
  top:4.5%; /* Располагаем шторку сразу под header */
  left: 0;
  width: 100%;
  max-height: 0; /* Изначально скрываем */
  overflow: hidden;
  background-color: #fff;
  border-radius: 0px 0px 30px 30px;
  transition: max-height 0.5s ease; /* Плавное открытие */
  z-index: 1000;
}

  .drawer.open {
  max-height: 25vh; /* Задаем высоту шторки при открытии */
}

.logo-button {
	  margin-left:0%;
    width: 30px;
    height: auto;
    object-fit: contain;
  }

  .logo-button img {
	  margin-left:0%;
    width: 30px;
    height: auto;
    object-fit: contain;
  }

.menu-button {
  width: 32px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

  .header-buttons1 {
    display: none; /* Прячем кнопки в мобильной версии */
  }

  
.theme-toggle  {
 margin-left:70%;
 transition: background-color 0.5s ease; /* Плавный переход для фона */
 width: 30px;
 height: 30px;
 object-fit: contain;
 transform: translate(0px, 0px);
}
  
.theme-toggle img {
 margin-left:0%;
 transition: background-color 0.5s ease; /* Плавный переход для фона */
 width: 30px;
 height: 30px;
 object-fit: contain;
 transform: translate(0px, 0px);
}

/* Анимация вращения при нажатии */
.theme-toggle:focus {
  animation: rotate 1s ease forwards; /* Вращение на 1 секунду */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
}

@media (min-width: 769px) {
  .menu-button {
    display: none;
  }
  
  .header-buttons{
    display: none;
  }
}
