
.app {
  font-family: Arial, sans-serif;
  padding: 0.5%;
  margin-right:200px;
  background-color: #D7E2F1;
  height: 10%;
  width: 98%;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.logo-button {
  margin-left:30%;
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 30px; /* Увеличиваем ширину кнопки */
  height: 70px; /* Увеличиваем высоту кнопки */
}

.logo-image {
  width: 30px;
  height: auto;
}

 .dark-mode {
  background-color: #06090E;
  transition: background-color 0.3s ease, color 0.3s ease;
}


 .dark-mode .header{
  background-color: #181C3A;
  color: #ffff;
  transition: background-color 0.3s ease, color 0.3s ease;
}
 
 .dark-mode .header-button{
  color: #ffff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.theme-toggle {
  width: 3vh; /* Фиксированная ширина кнопки */
  height: 3vh; /* Исправлено: фиксированная высота кнопки */
  font-size: 1.2rem;
  font-weight: 600;
  color: #000; /* Цвет текста */
  background-color: #fff; /* Фон */
  border: none; /* Без границ */
  border-radius: 100%; /* Более закруглённые углы */
  cursor: pointer;
  transition: all 0.4s ease; /* Плавные переходы для всех свойств */
  margin: 15px; /* Отступы вокруг кнопки */
  margin-left: auto; /* Отталкивание от левой стороны контейнера */
  display: flex; /* Используем flexbox для центрирования текста */
  align-items: center; /* Центрируем текст по вертикали */
  justify-content: center; /* Центрируем текст по горизонтали */
  font-family: 'Franklin Gothic Medium', sans-serif;
  font-weight: bold;
}

.theme-toggle:hover {
  background-color: #f5f5f5; /* Фон при наведении */
  transform: translateY(-6px) scale(1.05); /* Подъём и увеличение кнопки */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); /* Увеличенная тень */
}

/* Убираем эффект при фокусе */
.theme-toggle :focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(67, 160, 71, 0.4); /* Тень при фокусе */
}

.theme-toggle :active {
  transform: translateY(2px) scale(0.98); /* Сжатие и уменьшение при нажатии */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Уменьшенная тень */
}

.drawer {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100vh;
  width: 250px;
  background-color: #fff;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  transition: all 0.3s ease;
  z-index: 1000;
}

.drawer.open {
  right: 0;
}

 .menu-button {
  margin-left:-29px;
  margin-top:-5px;
  width: 5vh; /* Фиксированная ширина кнопки */
  height: 4vh; /* Исправлено: фиксированная высота кнопки */
  font-size: 2rem;
  font-weight: 600;
  color: #000; /* Цвет текста */
  background-color: #fff; /* Фон */
  border: none; /* Без границ */
  border-radius: 100%; /* Более закруглённые углы */
  cursor: pointer;
  transition: all 0.4s ease; /* Плавные переходы для всех свойств */
  display: flex; /* Используем flexbox для центрирования текста */
  align-items: center; /* Центрируем текст по вертикали */
  justify-content: center; /* Центрируем текст по горизонтали */
  font-family: 'Franklin Gothic Medium', sans-serif;
  font-weight: bold;
}

.header {
  height:25px;
  display: flex	;
  align-items: center;
  background-color: #ffff;
  padding: 10px;
  border-radius: 20px 20px 0 0;
  position: relative;
}


.header-buttons1 {
  height: 70%;
  width:20%;
  margin-left:1%;
  display: flex;
  gap: 1%; /* Расстояние между кнопками */
}
.header-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header-button {
  text-decoration: none;
  color: black;
  width: 50%; /* Фиксированная ширина кнопки */
  height: 100%; /* Фиксированная высота кнопки для лучшего контроля */
  color: #000; /* Цвет текста */
  background-color: #fff; /* Фон */
  border: none; /* Без границ */
  border-radius: 30px; /* Более закруглённые углы */
  cursor: pointer;
  transition: all 0.4s ease; /* Плавные переходы для всех свойств */
  margin-left: 15px;
  display: flex; /* Используем flexbox для центрирования текста */
  align-items: center; /* Центрируем текст по вертикали */
  justify-content: center; /* Центрируем текст по горизонтали */
}



.header-button h1 {
  font-weight: 400;
  font-size: 1rem;
  font-family: 'SF Pro Text';
}

.header-button:hover {
  background-color: #f5f5f5; /* Фон при наведении */
  transform: translateY(-1px) scale(1.05); /* Подъём и увеличение кнопки */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); /* Увеличенная тень */
}

/* Убираем эффект при фокусе */
.header-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0); /* Тень при фокусе */
}

.header-button:active {
  transform: translateY(2px) scale(0.98); /* Сжатие и уменьшение при нажатии */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Уменьшенная тень */
}

@media (max-width: 768px) {
  .App {
     font-family: Arial, sans-serif;
  padding: 1%;
  margin-right:200px;
  background-color: #D7E2F1;
  height: 20%;
  }

  .header {
	  gap:1%;
	height: 30px;
    flex-direction: row; 
    align-items: flex-start; /* Выравниваем элементы по левому краю */
  }

.drawer {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 100vh;
    background-color: #ffffff;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
  }
  
  .drawer.open {
    transform: translateX(0);
  }
  
.logo-button img {
    width: 35px; /* Масштабирует изображение до размера контейнера */
    height: auto; /* Сохраняет пропорции изображения */
    object-fit: contain; /* Если нужно подогнать изображение по размеру контейнера */
	margin-top: -40px; /* Сдвиг по вертикали */
    margin-left: -50px; /* Сдвиг по горизонтали */
    /* Или используйте transform */
    transform: translate(-80px, -6px); /* Сдвиг по горизонтали и вертикали */
}

 
 .header-buttons1 {
  display: none;
}
 
  
 .theme-toggle{
    width: 30px; /* Масштабирует изображение до размера контейнера */
    height: 30px; /* Сохраняет пропорции изображения */
    object-fit: contain; /* Если нужно подогнать изображение по размеру контейнера */
	margin-top: 5px; /* Сдвиг по вертикали */
    margin-left: 185px; /* Сдвиг по горизонтали */
    /* Или используйте transform */
    transform: translate(-5px, -6px); /* Сдвиг по горизонтали и вертикали */
} 


}

@media (min-width: 769px) {
  .header-buttons {
    display: flex;
  }

  /* Скрываем кнопку меню на десктопе */
  .menu-button {
    display: none;
  }
}