	
body, html {
  margin: 0;
  padding: 0;
}

	
	.main-content {
  display: none;
}

.main-content.visible {
  display: block;
}
	
/*houdini*/
@property --blink-opacity {
  syntax: "<number>";
  inherits: false;
  initial-value: 1;
}

/* #fallback @keyframes blink-animation {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}*/

@keyframes blink-animation {
  0%,
  100% {
    opacity: var(--blink-opacity, 1);
  }
  50% {
    opacity: 0;
  }
}
/*houdini*/

/*base*/
:root {
  font-family: Inter, sans-serif;

  --stripe-color: #fff;
  --bg: var(--stripe-color);
  --maincolor: var(--bg);
}



/*custom*/

@keyframes smoothBg {
  from {
    background-position: 50% 50%, 50% 50%;
  }
  to {
    background-position: 350% 50%, 350% 50%;
  }
}

.hero {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  --stripes: repeating-linear-gradient(
    100deg,
    var(--stripe-color) 0%,
    var(--stripe-color) 7%,
    transparent 10%,
    transparent 12%,
    var(--stripe-color) 16%
  );

  --rainbow: repeating-linear-gradient(
    100deg,
    #60a5fa 10%,
    #e879f9 15%,
    #60a5fa 20%,
    #5eead4 25%,
    #60a5fa 30%
  );
  background-image: var(--stripes), var(--rainbow);
  background-size: 300%, 200%;
  background-position: 50% 50%, 50% 50%;

  filter: blur(10px) invert(100%);

  mask-image: radial-gradient(ellipse at 100% 0%, black 40%, transparent 70%);
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--stripes), var(--rainbow);
    background-size: 200%, 100%;
    animation: smoothBg 60s linear infinite;
    background-attachment: fixed;
    mix-blend-mode: difference;
  }
}

:has(:checked) {
  --stripe-color: #000;
}
:has(:checked) .hero,
:has(:checked) .hero::after {
  filter: blur(10px) opacity(50%) saturate(200%);
}


.content {
  margin-bottom:10px;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 50%;
  display: flex;
  place-content: center;
  place-items: center;
  flex-flow: column;
  gap: 100%;
  text-align: center;
  mix-blend-mode: difference;
  -webbkit-mix-blend-mode: difference;
  filter: invert(1);
  
}

.h1--scalingSize {
  font-size: calc(2rem - -5vw);
  position: relative;
  font-family: 'Franklin Gothic Medium', sans-serif;
    font-weight: 100;
}

#switch {
  appearance: none;
  -webkit-appearance: none;
  opacity: 0;
}

[for="switch"] {
  cursor: pointer;
  transition: 0.15s linear(0 0%, 0.16 16.85%, 0.32 31.73%, 1 100%);
  will-change: transform, font-weight;
  padding: 0.5rem;
}

[for="switch"]:where(:hover, :active, :focus-within) {
  /*transform: scale(1.2);
  font-weight: 900;*/
  transition: 0.3s ease;
  animation: animSwitch 0.2s alternate;
  & .icon {
    animation-play-state: paused;
  }
}

@keyframes animSwitch {
  50% {
    transform: scale(1.2);
    font-weight: 900;
  }
}

/*icon houdini*/
.icon {
  width: 1lh;
  height: 1lh;
  aspect-ratio: 1/1;
  padding: 0.25em 0.35rem;
  border-radius: calc(1px / 0);
  border: 1px dashed;
  --blink-opacity: 1;
  animation: blink-animation 2s ease-in-out infinite running;
}

/*challenge*/
.h1--scalingSize::before {
  content: attr(data-text);
  position: absolute;
  inset: 0;
  background: white;
  text-shadow: 0 0 1px #ffffff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: white;
  -webkit-mask: linear-gradient(#000 0 0) luminance;
  mask: linear-gradient(#000 0 0) luminance, alpha;
  backdrop-filter: blur(19px) brightness(12.5);
  -webkit-text-stroke: 1px white;
  display: flex;
  margin: auto;
  z-index: 1;
  pointer-events: none;
}


@keyframes rotate1 {
  0% {
    transform: rotate(0deg) scale(1); 
  }
  20% {
    transform: rotate(0deg) scale(1); 
  }
  
  80% {
    transform: rotate(360deg) scale(1); 
  }
  
  100% {
    transform: rotate(360deg) scale(1); 
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.welcome-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1100;
  animation: fadeOut 1s 1s forwards; 
}

.app {
  font-family: Arial, sans-serif;
  padding: 1%;
  margin-right: 200px;
  background-color: #D7E2F1;
  width: 98%;
  transition: background-color 0.3s ease, color 0.3s ease;
}


.logo-button {
  margin-left: 30%;
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 30px;
  height: 70px;
}

.logo-image {
  width: 30px;
  height: auto;
}

.dark-mode {
  background-color: #06090E;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode .header {
  background-color: #181C3A;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode .header-button {
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.theme-toggle {
  width: 3vh;
  height: 3vh;
  font-size: 1.2rem;
  font-weight: 600;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  transition: background-color 0.5s ease; 
  margin: 15px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Franklin Gothic Medium', sans-serif;
  font-weight: bold;
}

.theme-toggle:focus {
  animation: rotate 1s ease forwards; 
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
	
  height: 26px;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 20px 20px 0 0;
  position: relative;
  z-index: 1000;
}

.drawer {
  position: absolute; 
  top: 10%; 
  left: 10px;
  width: 90%;
  max-height: 0;
  overflow: hidden;
  background-color: #fff;
  border-radius: 0px 0px 30px 30px;
  transition: max-height 0.4s ease; 
  z-index: 999;
}


.drawer.open {
  height: 25vh; 
}




.header-buttons1 {
  height: 70%;
  width: 20%;
  margin-left: 1%;
  display: flex;
  font-weight: 600;
  font-size: 1rem;
  font-family: 'Franklin Gothic Medium', sans-serif;
  gap: 1%;
}

.header-button {
  text-decoration: none;
  color: black;
  width: 50%; 
  height: 100%; 
  color: #000; 
  background-color: #fff; 
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.4s ease;
  margin-left: 15px;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-family: 'Franklin Gothic Medium', sans-serif;
}


.header-button:hover {
  background-color: #f5f5f5;
  transform: translateY(-1px) scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.header-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0);
}

.header-button:active {
  transform: translateY(2px) scale(0.98); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 896px) {
	

	
/*houdini*/
@property --blink-opacity {
  syntax: "<number>";
  inherits: false;
  initial-value: 1;
}

/* #fallback @keyframes blink-animation {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}*/

@keyframes blink-animation {
  0%,
  100% {
    opacity: var(--blink-opacity, 1);
  }
  50% {
    opacity: 0;
  }
}
/*houdini*/

/*base*/
:root {
  font-family: Inter, sans-serif;

  --stripe-color: #fff;
  --bg: var(--stripe-color);
  --maincolor: var(--bg);
}



/*custom*/

@keyframes smoothBg {
  from {
    background-position: 50% 50%, 50% 50%;
  }
  to {
    background-position: 350% 50%, 350% 50%;
  }
}

.wrapper {
  width: 100%;
  height: auto;
  position: relative;
}

.hero {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  --stripes: repeating-linear-gradient(
    100deg,
    var(--stripe-color) 0%,
    var(--stripe-color) 7%,
    transparent 10%,
    transparent 10%,
    var(--stripe-color) 16%
  );

  --rainbow: repeating-linear-gradient(
    100deg,
    #60a5fa 10%,
    #e879f9 15%,
    #60a5fa 20%,
    #5eead4 25%,
    #60a5fa 30%
  );
  background-image: var(--stripes), var(--rainbow);
  background-size: 300%, 200%;
  background-position: 50% 50%, 50% 50%;

  filter: blur(1px) invert(100%);

  mask-image: radial-gradient(ellipse at 60% 0%, black 40%, transparent 90%);
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--stripes), var(--rainbow);
    background-size: 200%, 100%;
    animation: smoothBg 60s linear infinite;
    background-attachment: fixed;
    mix-blend-mode: difference;
  }
}

:has(:checked) {
  --stripe-color: #000;
}
:has(:checked) .hero,
:has(:checked) .hero::after {
  filter: blur(10px) opacity(50%) saturate(200%);
}

.content {
	margin-bottom:10px;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 50%;
  display: flex;
  place-content: center;
  place-items: center;
  flex-flow: column;
  gap: 100%;
  text-align: center;
  mix-blend-mode: difference;
  -webbkit-mix-blend-mode: difference;
  filter: invert(1);
  
}

.h1--scalingSize {
    font-size: calc(2rem + 7vw); /* Корректный расчет размера */
    position: relative;
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-weight: 100;
    color: black; /* Временный цвет для отладки */
}

#switch {
  appearance: none;
  -webkit-appearance: none;
  opacity: 0;
}

[for="switch"] {
  cursor: pointer;
  transition: 0.15s linear(0 0%, 0.16 16.85%, 0.32 31.73%, 1 100%);
  will-change: transform, font-weight;
  padding: 0.5rem;
}

[for="switch"]:where(:hover, :active, :focus-within) {
  /*transform: scale(1.2);
  font-weight: 900;*/
  transition: 0.3s ease;
  animation: animSwitch 0.2s alternate;
  & .icon {
    animation-play-state: paused;
  }
}

@keyframes animSwitch {
  50% {
    transform: scale(1.2);
    font-weight: 900;
  }
}

/*icon houdini*/
.icon {
  width: 1lh;
  height: 1lh;
  aspect-ratio: 1/1;
  padding: 0.25em 0.35rem;
  border-radius: calc(1px / 0);
  border: 1px dashed;
  --blink-opacity: 1;
  animation: blink-animation 2s ease-in-out infinite running;
}

.h1--scalingSize::before {
    content: attr(data-text);
    position: absolute;
    inset: 0;
    font-size: inherit;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 0; /* Оставляем базовый слой */
}


@keyframes rotate1 {
  0% {
    transform: rotate(0deg) scale(1); 
  }
  20% {
    transform: rotate(0deg) scale(1); 
  }
  
  80% {
    transform: rotate(360deg) scale(1);
  }
  
  100% {
    transform: rotate(360deg) scale(1); 
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}



.welcome-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1100;
  animation: fadeOut 1s 1s forwards; 
}

	
	
.menu-button {
	
  width: 32px;
  height: 30px;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  position: absolute;
  width: 16px;
  height:2px;
  background-color: #333;
  transition: all 0.2s ease;
}

.line1 {
  transform: translateY(-5px);
}

.line2 {
  transform: translateY(5px);
}


.menu-button.open .line1,
.menu-button.open .line2 {
  transform: translateY(0); 
}

.menu-button.open .line1.opened {
	transition: all 0.2s ease;
  transform: rotate(45deg); 
}

.menu-button.open .line2.opened {
	transition: all 0.2s ease;
  transform: rotate(-45deg); 
}
	
.app {
  font-family: Arial, sans-serif;
  padding: 0%;
  background-color: #D7E2F1;
  width: 100%;
  transition: background-color 0.3s ease, color 0.3s ease;
}
 
 

  .header-button {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 60%;
    height: 10%;
    padding: 10px 20px;
    gap: 10px; 
    background-color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.4s ease;
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-weight: 100;
  }

  .header-button:hover {
    background-color: #fff; 
    transform: translateY(-3px) scale(1.05); 
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.0); 
  }

  .header-button:active {
    transform: translateY(2px) scale(0.98); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.); 
  }

  .header-buttons {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-weight: 100;
  }

 .header {
    position: sticky;
    top: 0;
    background-color: #fff; 
    z-index: 1100; 
    padding: 10px;
	padding: 10px;
	border-radius:0px;
}

.drawer {
  position: fixed; 
  top: 4.8%; 
  left: 0;
  width: 100%;
  max-height: 0; 
  overflow: hidden;
  background-color: #fff;
  border-radius: 0px 0px 30px 30px;
  transition: max-height 0.4s ease-in-out, padding-top 0.4s ease-in-out; /* Добавляем плавный переход для padding-top */
  z-index: 999;
  padding-top: 0; /* Сбрасываем padding-top для закрытого состояния */
}

.drawer.open {
  padding-top: 4%; /* Устанавливаем padding-top только в открытом состоянии */
  max-height: 18vh; 
}


.logo-button {
	  margin-left:0%;
    width: 30px;
    height: auto;
    object-fit: contain;
  }

  .logo-button img {
	  margin-left:0%;
    width: 30px;
    height: auto;
    object-fit: contain;
  }

.menu-button {
  width: 32px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

  .header-buttons1 {
    display: none; 
  }

  
.theme-toggle  {
 margin-left:70%;
 transition: background-color 0.5s ease; 
 width: 30px;
 height: 30px;
 object-fit: contain;
 transform: translate(0px, 0px);
}
  
.theme-toggle img {
 margin-left:0%;
 transition: background-color 0.5s ease; 
 width: 30px;
 height: 30px;
 object-fit: contain;
 transform: translate(0px, 0px);
}

.theme-toggle:focus {
  animation: rotate 1s ease forwards; 
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
}

@media (min-width: 769px) {
  .menu-button {
    display: none;
  }
  
  .header-buttons{
    display: none;
  }
}
